@{
    Layout = "~/Views/Shared/layout.cshtml";   // 指定 Layout
    ViewData["Title"] = "hahaha";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">hahaha</a>.</p>

</div>
